<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../styles/variables.css" />
	<link rel="stylesheet" href="../styles/battingScorecardStyle.css" />
</head>
<body>
	<div id="teamNames">
		<div class="teamName" id="team1Name">
			<img id="team1Img" src="../images/default.png" />
			<p>BATTING TEAM</p>
			<img src="../images/bat.png" />
		</div>
		<div class="teamName" id="team2Name">
			<img src="../images/bowl.png" />
			<p>BOWLING TEAM</p>
			<img id="team2Img" src="../images/default.png" />
		</div>
	</div>
	<div id="battingContainer"></div>
	<div id="bottomBars">
		<div id="botBar1" class="bottomBar"></div>
		<div id="stats" class="bottomBar">
			<div class="botBarText">
				<p class="normal">EXTRAS</p>
				<p id="extras"></p>
			</div>
			<div class="botBarText">
				<p class="normal">OVERS</p>
				<p id="overs"></p>
			</div>
		</div>
		<div id="total" class="bottomBar">
			<p class="normal">TOTAL</p>
			<p id="totalRuns"></p>
		</div>
	</div>
	<script src="../handlers/battingScorecard.js"></script>
</body>
