<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Match Controller</title>
    <link rel="stylesheet" href="../styles/controllerStyle.css">
</head>

<body>
    
    <div id = "ballByBall">
        <h3>BALL BY BALL</h3>
        
        <input type="radio" name="ballType" id="ball" value="ball" checked>
        <label for="ball">Ball</label>
        <input type="radio" name="ballType" id="noBall" value="noBall">
        <label for="noBall">No Ball</label>
        <input type="radio" name="ballType" id="wide" value="wide">
        <label for="wide">Wide</label>
        <br>
        
        <input type="radio" name="runsType" id="runs" value="runs" checked>
        <label for="runs">Runs</label>
        <input type="radio" name="runsType" id="byes" value="byes">
        <label for="byes">Byes</label>
        <input type="radio" name="runsType" id="legByes" value="legByes">
        <label for="legByes">Leg Byes</label>
        <input type="radio" name="runsType" id="penalties" value="penalties">
        <label for="penalties">Penalties</label>
        <br>

        <button class = "ballButtons dot valued" id = "dotButton" value=0>DOT</button>
        <button class = "ballButtons valued" id = "oneButton" value=1>1</button>
        <button class = "ballButtons valued" id = "twoButton" value=2>2</button>   
        <button class = "ballButtons valued" id = "threeButton" value=3>3</button>
        <button class = "ballButtons valued boundary" id = "fourButton" value=4>4</button>
        <button class = "ballButtons valued" id = "fiveButton" value=5>5</button>
        <button class = "ballButtons valued boundary" id = "sixButton" value=6>6</button>
        <button class = "ballButtons changeStrike" id = "changeStrikeButton">CHANGE STRIKE</button>
    </div>

    <div id = "selectBowlerBatsman">
        <h3>PLAYERS</h3>
        <select name = "selectBowler" id="bowlerDropdown">
            <option selected disabled>Select Bowler</option>
        </select>
        <br>
        <select name = "selectBatsman" id="batsmanDropdown">
            <option selected disabled>Select Batsman</option>
        </select>
        <button class = "ballButtons" id="addBatsmanButton">Add</button>
    </div>

    <div id="wicket">
        <h3>WICKET</h3>
        <button class = "wicketButtons" id = "bowled">Bowled</button>
        <button class = "wicketButtons" id = "lbw">LBW</button>
        <button class = "wicketButtons" id = "retired">Retired</button>
        <br>
        <select name="wicketFielder" id="wicketFielder">
            <option selected disabled>Select Fielder</option>
        </select>
        <button class = "wicketButtons" id = "caught">Caught</button>
        <button class = "wicketButtons" id = "stumped">Stumped</button>
        <br>
        <select name="runoutFielder" id="runoutFielder">
            <option selected disabled>Select Fielder</option>
        </select>
        <select name="runoutBatsman" id="runoutBatsman">
            <option selected disabled>Out Batsman</option>
            <option>Striker</option>
            <option>Non Striker</option>
        </select>
        <button class = "wicketButtons" id = "runout">Run Out</button>
    </div>

    <div id="messageDisplay">
        <h3>MESSAGE DISPLAY</h3>
        <input type="radio" name="msg" id="textMessageRadio">
        <label for="textMessageRadio">Text</label>
        <input type="text" size="60">
        <br>
        <input type="radio" name="msg" id="tossRadio">
        <label for="textMessageRadio">Toss</label>
        <input type="radio" name="msg" id="runRateRadio">
        <label for="textMessageRadio">Run Rate</label>
        <input type="radio" name="msg" id="reqRunRateRadio">
        <label for="textMessageRadio">Required RR</label>
        <br>
        <input type="radio" name="msg" id="lastWicketRadio">
        <label for="textMessageRadio">Last Wicket</label>
        <input type="radio" name="msg" id="partnershipRadio">
        <label for="textMessageRadio">Partnership</label>
        <input type="radio" name="msg" id="targetRadio">
        <label for="textMessageRadio">Target</label>
        <input type="radio" name="msg" id="runsFromBallsRadio">
        <label for="runsFromBallsRadio">Runs From Balls</label>
    </div>
    <script src="../match/controllerSetup.js"></script>
    <script src="../handlers/controller.js"></script>
</body>

</html>
