<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Scorer v2.0</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">
</head>

<body>
    <div id = "scoreBar">
        <div id = "leftLogoBar" class = "logoBars">
            <img src="../images/gcc.png">
        </div>
        <div id = "centreScoreBar">
            <div id = "batsmanOval"  class = "playerOval">
                <div class = "batsman" id = "batsman1">
                    <img class="pointer" id="batsman1Pointer" src = "../images/point.png">
                    <p class = "playerName" id = "batsman1Name"></p>
                    <div class = "batsmanScore">
                        <p class = "batsmanRuns" id = "batsman1Runs"></p>
                        <p class = "batsmanBalls" id = "batsman1Balls"></p>
                    </div>
                </div>
                <div class = "batsman" id = "batsman2">
                    <img class="pointer" id= "batsman2Pointer" src = "../images/point.png">
                    <p class = "playerName" id = "batsman2Name"></p>
                    <div class = "batsmanScore">
                        <p class = "batsmanRuns" id = "batsman2Runs"></p>
                        <p class = "batsmanBalls" id = "batsman2Balls"></p>
                    </div>
                </div>
            </div>
            <div id = "scoreOval">
                <div id = "score">
                    <div id = "scoreText">
                        <p id = "bowlTeamShort"></p>
                        <p id = "batTeamShort">        </p>
                        <P id = "runsWickets"></P>
                    </div>
                    <div id = "oversText">
                    <p id = "overs" ></p>
                    </div>
                </div>
                <div id = "msgDisplay">
                    <p></p>
                </div>    
            </div>
            <div id = "bowlerOval" class = "playerOval">
                <div class="bowler">
                    <p class = "playerName" id = "bowlerName"></p>
                    <p id = "bowlerScore"></p>
                    <p id = "bowlerOvers"></p>
                </div>
                <div class = "overBalls">
                    <div class = "overBall">
                    </div>
                </div>
            </div>
        </div>
        <div id = "rightLogoBar" class = "logoBars">
            <img src="../images/esb.png">
        </div>
    </div>
    <img src="../images/as.png"> 
    <script src="../handlers/index.js">
    </script>
</body>

</html>