<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Scorer v2.0</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">
</head>

<body>
    <div id = "scoreBar">
        <div id = "leftLogoBar" class = "logoBars">
            <img src="../images/gcc.png">
        </div>
        <div id = "centreScoreBar">
            <div id = "batsmanOval"  class = "playerOval">
                <div class = "batsman" id = "batsman1">
                    <p class = "batsmanName" id = "batsman1Name">BIKASH</p>
                    <div class = "batsmanScore">
                        <p class = "batsmanRuns" id = "batsman1Runs">10</p>
                        <p class = "batsmanBalls" id = "batsman1Balls">9</p>
                    </div>
                    
                </div>
                <div class = "batsman" id = "batsman1">
                    <p class = "batsmanName" id = "batsman2Name">VISHIST</p>
                    <div class = "batsmanScore">
                        <p class = "batsmanRuns" id = "batsman2Runs">7</p>
                        <p class = "batsmanBalls" id = "batsman2Balls">8</p>
                    </div>
                </div>
            </div>
            <div id = "scoreOval">
                <div id = "score">
                    <div id = "scoreText">
                        <p id = "bwlTeamShort">SCC v</p>
                        <p id = "batTeamShort">GCC        </p>
                        <P id = "runsWickets">18-0</P>
                    </div>
                    <div id = "oversText">
                    <p>2.5</p>
                    </div>
                </div>
                <div id = "msgDisplay">
                    <p>GCC WON THE TOSS AND CHOSE TO BAT</p>
                </div>    
            </div>
            <div id = "bowlerOval" class = "playerOval">
                <p>Sajendra</p>
            </div>
        </div>
        <div id = "rightLogoBar" class = "logoBars">
            <img src="../images/esb.png">
        </div>
    </div>
    <img src="../images/as.png"> 

</body>

</html>