<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../styles/playerStyle.css" />
</head>
<body>
	<div id="container">
		<div id="score">
			<div id="wicket">
				<p id="fielder"></p>
				<p id="bowler"></p>
			</div>
			<div id="stats">
				<p id="fours"></p>
				<p id="sixes"></p>
				<p id="strikeRate"></p>
			</div>
		</div>
	</div>

	<div id="nameBar">
		<p id="name"></p>
		<p id="runs"></p>
		<p id="balls"></p>
		<img id="logoImg" />
	</div>

	<div id="whiteSpace"></div>
	<div id="radioButtons">
		<input type="radio" name="viewPlayer" id="strikerRadio" value="strikerRadio" checked />
		<label id="strikerLabel" for="strikerRadio">Striker</label>
		<input type="radio" name="viewPlayer" id="nonStrikerRadio" value="nonStrikerRadio" />
		<label id="nonStrikerLabel" for="nonStrikerRadio">Non Striker</label>
	</div>

	<script src="../handlers/player.js"></script>
</body>
