<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../styles/battingScorecardStyle.css" />
</head>
<body>
	<div id="teamNames">
		<div class="teamName" id="team1Name">
			<img id="team1Img" src="../images/esb.png" />
			<p>EXPERT SAGARMATHA BLUES</p>
			<img src="../images/bat.png" />
		</div>
		<div class="teamName" id="team2Name">
			<img src="../images/bowl.png" />
			<p>ROYAL RHINOS CRICKET CLUB</p>
			<img id="team2Img" src="../images/gcc.png" />
		</div>
	</div>
	<div id="battingContainer">
		<div id="batsman1" class="batsman topBatsman notout">
			<div class="name">
				<p>SAJAN KANDEL</p>
			</div>
			<div class="wicket">
				<p>c KUSHAL</p>
				<p>b NIRMAN</p>
			</div>
			<div class="runs">
				<p>103</p>
			</div>
			<div class="balls">
				<p>52</p>
			</div>
		</div>
	</div>
	<div id="bottomBars">
		<div id="botBar1" class="bottomBar"></div>
		<div id="stats" class="bottomBar">
			<div class="botBarText">
				<p class="normal">EXTRAS</p>
				<p id="extras">15</p>
			</div>
			<div class="botBarText">
				<p class="normal">OVERS</p>
				<p id="overs">50</p>
			</div>
		</div>
		<div id="total" class="bottomBar">
			<p class="normal">TOTAL</p>
			<p id="totalRuns">265/7</p>
		</div>
	</div>
	<script src="../handlers/battingScorecard.js"></script>
</body>
