body {
	background-color: magenta;
}

#teamNames {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.teamName {
	width: 700px;
	height: 70px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: inset 0px -10px 20px -10px #2f3c4d;
	background-image: linear-gradient(#fdfdf6, #c7d3eb);
	border-radius: 100px;
	display: flex;
	color: var(--dark-text);
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bolder;
	justify-content: space-between;
	padding: 5px;
}

.teamName p {
	margin-top: 18px;
}

#team2Name p {
	color: #aeaed1;
}

.teamName img {
	padding: 5px;
	height: 60px;
	width: 60px;
	background-color: aliceblue;
	border-radius: 100px;
}

#battingContainer {
	margin: 10px;
	margin-left: 63px;
	background-color: white;
	height: 682px;
	width: 1350px;
	background-color: transparent;
}

.batsman {
	height: 62px;
	width: 1300px;
	background-image: linear-gradient(to bottom, #fdfdf6, #d6d8dd);
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: bold;
	justify-content: space-around;
	color: var(--dark-text);
}

.batsman .name {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 20px;
	align-items: center;
	width: 450px;
}

.batsman .wicket {
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: start;
	align-items: center;
	width: 800px;
	border-style: solid;
	border-color: var(--line);
	border-width: 2px;
	border-top: 0;
	border-bottom: 0;
}

.batsman .wicket .wicketFielder {
	width: 50%;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 20px;
}

.batsman .runs {
	border-style: solid;
	border-color: var(--line);
	border-width: 2px;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.batsman .runs p {
	font-weight: bolder;
}

.batsman .balls p {
	font-weight: normal;
}

.batsman .balls {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.batsman .balls {
	width: 100px;
}

.topBatsman {
	border-radius: 10px 10px 0 0;
}

.botBatsman {
	border-radius: 0 0 10px 10px;
}

.notout {
	background-image: linear-gradient(
		to right,
		var(--primary-gradient-2),
		var(--primary-gradient-1)
	);
	border-radius: 100px;
	width: 1300px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 0;
}

.notout {
	color: #f2f2fd;
}

#bottomBars {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bottomBar {
	height: 70px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: inset 0px -10px 20px -10px #2f3c4d;
	background-image: linear-gradient(#fdfdf6, #c7d3eb);
	border-radius: 100px;
	display: flex;
	color: var(--dark-text);
	font-size: 32px;
	font-family: sans-serif;
	font-weight: bolder;
	justify-content: space-around;
	padding: 5px;
}

.bottomBar p {
	margin-top: 15px;
}

.bottomBar .normal {
	font-weight: normal;
}

.botBarText {
	display: flex;
	flex-direction: row;
}

.botBarText p {
	margin: 5px;
	margin-top: 15px;
}

#botBar1 {
	width: 300px;
}

#stats {
	width: 600px;
}

#total {
	width: 300px;
}
