body{
    align-items: center;
}

#scoreBar{
    background-color:magenta;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#leftLogoBar , #rightLogoBar{
    margin: 0;
    width:185px;
    height: 80px;
    background-color: #f1f2f1;
    box-shadow: inset 0px -15px 35px -15px #2f3c4d;
    background-image: linear-gradient(#fdfdf6, #c7d3eb);
}

#leftLogoBar{
    border-radius: 0px 100px 100px 0px;
}

#rightLogoBar{
    border-radius: 100px 0px 0px 100px;
}

.logoBars{
    display: flex;
}

.logoBars img{
    height :70px;
    width: 70px;
    margin:auto;
}

#centreScoreBar{
    width: 1180px;
    border-radius: 100px;
    background-image: linear-gradient(#fdfdf6, #c7d3eb);
    box-shadow: inset 0px -15px 35px -15px #2f3c4d;
    display: flex;
    flex-direction: row;
    height:80px;
}

#scoreOval{
    width: 350px;
    margin: auto;
    height:74px;
    display: flex;
    flex-direction: column;
}

#score{
    width: 100%;
    height: 40px;
    border-radius: 100px 100px 0px 0px;
    background-color: #222677;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#msgDisplay{
    width: 100%;
    height: 34px;
    background-color: #151749;
    border-radius: 0px 0px 100px 100px;
}

#scoreText{
    background-image: linear-gradient(to right, #222677, #db1640);
    width: 65%;
    height:86%;
    border-radius: 100px;   
    align-items: center;    
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 25px;
}


#bowlTeamShort{
    margin: auto;
    color:#71abf3;
    font-size: 18px;
    font-family: Tahoma, AppleGothic, sans-serif;
    /* font-weight: bold; */
    margin-bottom: 5px;
}


#batTeamShort{
    margin: auto;
    color: white;
    font-size: 24px;
    font-family: Tahoma, AppleGothic, sans-serif;
    font-weight: bolder;
}

#runsWickets{
    margin: auto;
    color: white;
    font-size: 24px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bolder;
    padding-right: 10px;
}

#oversText{
    width: 20%;
    display: flex;
    background-image: linear-gradient(to right, #222677, #3b97db);
    height: 86%;;
    margin: auto;
    margin-right: 20px;
    border-radius: 0px 100px 100px 0px;
}

#oversText p{
    color: white;
    font-size: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: auto;
    justify-content: center;
    font-weight: 400;
}

#msgDisplay{
    display: flex;
}

#msgDisplay p{
    margin: auto;
    color: white;
    font-size: 16px;
    font-family:  Tahoma, AppleGothic, sans-serif;
    margin: auto;
}

.playerOval{
    width: 28%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#batsmanOval{
    margin-left: 50px;   
}

#bowlerOval{
    margin-right: 50px;
}

.batsman{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: auto;
    height: 40%;
    width: 90%;
}

.playerName{
    margin: auto;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #27256e;
    width: 90%;
    margin-left: 10px;
}

.batsmanScore p{
    margin: auto;
    font-family: Tahoma, sans-serif;
    color: #27256e;
    width:40px;
}

.batsmanRuns{
    font-weight: bolder;
    font-size: 18px;
}

.batsmanBalls{
    left: 0;
    font-size: 16px;
}

.batsmanScore{
    display: inline-flex;
    flex-direction: row;
    /* background-color: red; */
}

.bowler{
    display: flex;
    flex-direction: row;
    margin: auto;
    width:90%;
    height:50%;

}

#bowlerOval{
    text-align: left;
}

#bowlerScore{
    margin:auto;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #27256e;
    font-weight: bolder;
    width:30%;
}

#bowlerOvers{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #27256e;
    margin:auto;
}

.overBalls{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 50%;
    margin-left: 20px;
}

.overBall{
    background-color: #151749;
    height:28px;
    width:28px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    border-radius: 100%;
    flex-direction:row;
}

.overBall p{
    margin: auto;
    padding: 2px;
    padding-top:2.5px ;
    font-family: Century-Gothic, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #d0d8e5;
}

.logoBars img{
    filter: drop-shadow(6px 6px 6px #61605f);
}

.pointer{
    margin:auto;
    height:15px;
    width:15px;
}

.pointer{
    visibility: hidden;
}


img{
    width: 100%;
}