/* DEFAULT (BLUE-PINK) */
:root {
	--primary-gradient-1: #222677;
	--primary-gradient-2: #f11a49;
	--overs-gradient-2: #3b97db;
	--dark-text: #27256e;
	--bowl-text: #71abf3;
	--msg-background: #151749;
	--line: #f11a49;
}

/* PURP-YELLOW */
/* :root {
	--primary-gradient-1: #29335c;
	--primary-gradient-2: #f36c12;
	--overs-gradient-2: #db2b39;
	--dark-text: #101942;
	--bowl-text: #f1a53a;
	--msg-background: #1c233d;
	--line: #db2b39;
} */
