/* 
DEFAULT (BLUE-PINK)
:root {
	--dark-background: #222677;
	--primary-gradient-1: #222677;
	--primary-gradient-2: #f11a49;
	--overs-gradient-1: #222677;
	--overs-gradient-2: #3b97db;
	--dark-text: #27256e;
	--bowl-text: #71abf3;
	--msg-background: #151749;
	--line: #f11a49;
} */

/* PURP-YELLOW */
:root {
	--primary-gradient-1: #29335c;
	--primary-gradient-2: #f3a712;
	--overs-gradient-2: #db2b39;
	--dark-text: #182042;
	--bowl-text: #f0cea0;
	--msg-background: #1c233d;
	--line: #db2b39;
}
